@model MVAMVC.Models.Category

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div class="form-horizontal">
    <h4>Category</h4>
    <hr />
    <div class="form-group">
        <label asp-for="CategoryId" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="CategoryId" class="form-control" disabled
                   data-toggle="tooltip" data-placement="right"
                   title="Cannot Edit Primary Key!!!" />
        </div>
    </div>
    <div class="form-group">
        <label asp-for="DisplayName" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="DisplayName" class="form-control" disabled/>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Description" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <textarea asp-for="Description" class="form-control " disabled/>@Model.Description</textarea>
        </div>
    </div>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayName("Product")
            </th>
            <th>
                @Html.DisplayName("MSRP")
            </th>
            <th>
                @Html.DisplayName("CurrentPrice")
            </th>
        </tr>
        @foreach (var item in Model.Products.Distinct())
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DisplayName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MSRP)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CurrentPrice)
                </td>
            </tr>
        }
    </table>
</div>
<p>
    <a asp-action="Edit" asp-route-id="@Model.CategoryId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</p>
